<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="dishes"
      :items-per-page="10"
      class="elevation-1"
    >
      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-2" @click="editDish(item)">mdi-pencil</v-icon>
        <v-icon small @click="deleteDish(item)">mdi-delete</v-icon>
      </template>
    </v-data-table>

    <v-dialog v-model="dialogDelete" max-width="290">
      <v-card>
        <v-card-title class="headline">Confirm delete</v-card-title>
        <v-card-text>Are you sure you want to delete this item?</v-card-text>
        <v-card-actions>
          <v-btn color="blue darken-1" text @click="cancelDelete">Cancel</v-btn>
          <v-btn color="red darken-1" text @click="confirmDelete">Confirm</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <dish-form @submit="saveDish"/>

  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Dish from '@/domain/dish/Dish';
import DishService from '@/domain/dish/DishService';
import DishForm from '@/components/dish/DishForm.vue';
import { getModule } from 'vuex-module-decorators';
import Modal from '@/store/modules/modal.module';
import store from '@/store';

@Component({
  components: {
    DishForm,
  },
})
export default class DishesPage extends Vue {
  private dishes: Dish[] = [];

  private headers = [
    {
      text: 'name',
      align: 'start',
      value: 'name',
    },
    {
      text: 'category',
      value: 'category',
    },
    {
      text: 'cost',
      value: 'cost',
    },
    {
      text: 'actions',
      value: 'actions',
      sortable: false,
    },
  ];

  private service = new DishService();

  private editedDish: Dish | null = null;

  private dialogDelete = false;

  private modal = getModule(Modal, store);

  // noinspection JSUnusedLocalSymbols
  private async mounted() {
    this.dishes = await this.service.index({ scope: 'full' });
    console.log(this.dishes);
    this.dishes.forEach((dish) => console.log(dish.cost));
  }

  private editDish(dish: Dish) {
    const copy = Object.assign(new Dish(), dish);
    this.modal.openModal(copy);
  }

  private saveDish(newDish: Dish) {
    const index = this.dishes.findIndex((dish) => dish.id === newDish.id);
    if (index === -1) {
      this.dishes.push(newDish);
    } else {
      this.dishes.splice(index, 1, newDish);
    }
  }

  private deleteDish(dish: Dish) {
    this.editedDish = dish;
    this.dialogDelete = true;
  }

  private cancelDelete() {
    this.dialogDelete = false;
    this.editedDish = null;
  }

  private async confirmDelete() {
    if (this.editedDish?.id) {
      await this.service.delete(this.editedDish.id);
      const index = this.dishes.indexOf(this.editedDish);
      this.dishes.splice(index, 1);
      this.cancelDelete();
    }
  }
}
</script>
