<template>
  <div>
    <v-dialog v-model="isActive" persistent scrollable max-width="400px">
      <v-form @submit.prevent="save">
        <v-card>
          <v-card-title>{{ title }}</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-row>
              <v-col cols="12">
                <v-text-field v-model="dish.name" label="name"/>
              </v-col>
              <v-col cols="12">
                <v-select v-model="dish.category" :items="categories" label="category"/>
              </v-col>
              <v-container>
                <h3>Available ingredients</h3>
                <v-text-field
                    @input.native="filter = $event.target.value"
                    append-icon="mdi-magnify"
                    label="search ingredient"
                    single-line solo filled/>

                <v-col cols="12">
                  <v-row v-for="ingredient in filteredIngredients" :key="ingredient.id"
                         no-gutters>
                    <v-col>
                      <v-checkbox v-model="selectedIngredientsId" :label="ingredient.name"
                                  :value="ingredient.id"/>
                    </v-col>
                    <v-col>
                      <v-text-field v-model="ingredient.dishIngredients.quantity"
                                    label="quantity"
                                    :disabled="!ingredient.isCountable"
                                    :suffix="ingredient.unit"/>
                    </v-col>
                  </v-row>
                </v-col>
              </v-container>
            </v-row>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn depressed color="error" @click="close">Cancel</v-btn>
            <v-btn depressed type="submit" color="primary dark" :loading="loading">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
    <v-btn color="deep-purple" dark bottom right fixed fab @click="open">
      <v-icon>mdi-plus</v-icon>
    </v-btn>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import Dish from '@/domain/dish/Dish';
import DishService from '@/domain/dish/DishService';
import Category from '@/helpers/Category';
import Ingredient from '@/domain/ingredient/Ingredient';
import IngredientService from '@/domain/ingredient/IngredientService';
import { getModule } from 'vuex-module-decorators';
import Modal from '@/store/modules/modal.module';
import store from '@/store';

@Component
export default class DishForm extends Vue {
  private service: DishService;

  private loading: boolean;

  private categories: string[];

  private ingredients: Ingredient[];

  // noinspection TypeScriptFieldCanBeMadeReadonly
  private filter: string;

  private selectedIngredientsId: number[];

  private modal = getModule(Modal, store);

  constructor() {
    super();
    this.service = new DishService();
    this.loading = false;
    this.categories = Object.keys(Category);
    this.ingredients = [];
    this.filter = '';
    this.selectedIngredientsId = [];
  }

  // noinspection JSUnusedGlobalSymbols
  async mounted(): Promise<void> {
    this.ingredients = await new IngredientService().index({ dishId: this.dish.id });
  }

  get title(): string {
    return `${this.dish.id ? 'Edit' : 'Create'} Dish`;
  }

  get isActive(): boolean {
    return this.modal.isVisible;
  }

  get dish(): Dish {
    return this.modal.dish;
  }

  get dishIngredients(): Ingredient[] {
    return this.dish.ingredients;
  }

  @Watch('dishIngredients')
  triggerSelectedIngredientsId(): void {
    this.selectedIngredientsId = this.dish.ingredients.map((ingredient) => ingredient.id);
  }

  @Watch('dishIngredients')
  addCurrentQuantities(currentIngredients: Ingredient[]): void {
    this.ingredients = this.ingredients.map((ingredient) => {
      const currentIngredient = currentIngredients.find(({ id }) => id === ingredient.id);
      const newIngredient = ingredient;
      newIngredient.dishIngredients.quantity = currentIngredient?.dishIngredients.quantity ?? 0;
      return newIngredient;
    });
  }

  get filteredIngredients(): Ingredient[] {
    if (this.filter) {
      const exp = new RegExp(this.filter.trim(), 'i');
      return this.ingredients.filter((ingredient) => exp.test(ingredient.name));
    }
    return this.ingredients;
  }

  close(): void {
    this.modal.closeModal();
    this.selectedIngredientsId = [];
  }

  open(): void {
    this.modal.openModal(new Dish());
  }

  // TODO check if I should use submit instead
  async save(): Promise<void> {
    this.loading = true;

    this.dish.ingredients = this.ingredients
      .filter((ingredient) => this.selectedIngredientsId.includes(ingredient.id));

    const dish = await (this.dish.id
      ? this.service.update(this.dish.id, this.dish, { scope: 'full' })
      : this.service.create(this.dish, { scope: 'full' }));

    this.$emit('submit', dish);

    this.loading = false;
    this.close();
  }
}

</script>
