<template>
  <div>
    <div v-for="dateMeal in dateMeals" :key="dateMeal.date">
      <v-row class="px-2 font-weight-bold">
        <v-col cols="7">{{ dateMeal.date }}</v-col>
        <v-col cols="5">CHF {{ dateMeal.cost }}</v-col>
      </v-row>

      <v-row class="py-2 pl-3 deep-purple white--text ma-1 rounded align-center"
             v-for="meal in dateMeal.meals" :key="meal.id">
        <v-col class="pa-0 flex-grow-1 flex-shrink-0">
          <div style="line-height: 1em;" class="text-truncate">
            {{ meal.dish.name }}
          </div>
          <v-row style="font-size: 0.9em; line-height: 1.2em"
                 class="ma-0 pa-0 d-flex font-weight-light ma-0 pa-0">
            <v-col class="ma-0 pa-0" cols="8">{{ meal.time }}</v-col>
            <v-col class="ma-0 pa-0" cols="4">CHF {{ meal.dish.cost }}</v-col>
          </v-row>
        </v-col>
        <v-col class="ma-0 pa-0 d-flex flex-grow-0 flex-shrink-0">
          <v-btn class="ma-0 pa-0" icon dark>
            <v-icon dense @click="editMeal(meal)">mdi-pencil</v-icon>
          </v-btn>
          <confirm-modal class="ma-0 pa-0" dark icon @confirm="deleteMeal(meal)">
            <v-icon dense>mdi-delete</v-icon>
          </confirm-modal>
        </v-col>
      </v-row>
    </div>

    <meal-form @submit="saveMeal"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Meal from '@/domain/meal/Meal';
import MealService from '@/domain/meal/MealService';
import MealForm from '@/components/meal/MealForm.vue';
import DateMeal from '@/domain/meal/date-meal/DateMeal';
import Modal from '@/store/modules/modal.module';
import { getModule } from 'vuex-module-decorators';
import store from '@/store';
import DateMealUtils from '@/helpers/DateMealUtils';
import ConfirmModal from '@/components/shared/ConfirmModal.vue';

@Component({
  components: {
    ConfirmModal,
    MealForm,
  },
})
export default class MealsPage extends Vue {
  // TODO make possible to open all group of dishes at the same time
  private meals: Meal[] = [];

  private service = new MealService();

  private modal = getModule(Modal, store);

  // noinspection JSUnusedLocalSymbols
  private async mounted() {
    this.meals = await this.service.index({ scope: 'full' });
    console.log(this.dateMeals);
  }

  get dateMeals(): IterableIterator<DateMeal> {
    return DateMealUtils.convert(this.meals);
  }

  private editMeal(meal: Meal) {
    const copy = Object.assign(new Meal(), meal);
    this.modal.openModal(copy);
  }

  private saveMeal(newMeal: Meal) {
    const index = this.meals.findIndex((meal) => meal.id === newMeal.id);
    if (index === -1) {
      this.meals.push(newMeal);
    } else {
      this.meals.splice(index, 1, newMeal);
    }
  }

  private async deleteMeal(meal: Meal) {
    await this.service.delete(meal.id);
    const index = this.meals.indexOf(meal);
    this.meals.splice(index, 1);
  }
}
</script>

<style scoped>

.meal-item {
  background-color: #673ab7;
  color: white;
}

</style>
