<template>
  <div>
    <v-dialog v-model="isActive" persistent scrollable max-width="400px">
      <v-card>
        <v-form @submit.prevent="save">
          <v-card-title>{{ title }}</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-row>
              <v-col cols="12">
                <v-datetime-picker label="Select Datetime" v-model="meal.date">
                  <template v-slot:dateIcon>
                    <v-icon>mdi-calendar-today</v-icon>
                  </template>
                  <template v-slot:timeIcon>
                    <v-icon>mdi-clock-time-four-outline</v-icon>
                  </template>
                </v-datetime-picker>
              </v-col>
              <v-col cols="12">
                <v-select v-model="meal.dishId"
                          item-value="id" item-text="name" :items="dishes" label="dish"/>
              </v-col>
            </v-row>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn depressed color="error" @click="close">Cancel</v-btn>
            <v-btn depressed type="submit" color="primary dark" :loading="loading">Save</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
    <v-btn color="deep-purple" dark bottom right fixed fab @click="open">
      <v-icon>mdi-plus</v-icon>
    </v-btn>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Meal from '@/domain/meal/Meal';
import MealService from '@/domain/meal/MealService';
import DishService from '@/domain/dish/DishService';
import Dish from '@/domain/dish/Dish';
import '@fortawesome/fontawesome-free/css/all.css';
import Modal from '@/store/modules/modal.module';
import { getModule } from 'vuex-module-decorators';
import store from '@/store';

@Component
export default class MealForm extends Vue {
  private service: MealService;

  private loading: boolean;

  private dishes: Dish[];

  private modal = getModule(Modal, store);

  constructor() {
    super();
    this.service = new MealService();
    this.loading = false;
    this.dishes = [];
  }

  // noinspection JSUnusedGlobalSymbols
  async mounted(): Promise<void> {
    this.dishes = await new DishService().index();
    // console.log('this.meal.date.toUpperCase()');
    // console.log(this.meal.date);
  }

  get title(): string {
    return `${this.meal.id ? 'Edit' : 'Create'} Meal`;
  }

  get isActive(): boolean {
    return this.modal.isVisible;
  }

  get meal(): Meal {
    return this.modal.meal;
  }

  close(): void {
    this.modal.closeModal();
  }

  open(): void {
    this.modal.openModal(new Meal());
  }

  async save(): Promise<void> {
    this.loading = true;

    const meal = await (this.meal.id
      ? this.service.update(this.meal.id, this.meal, { scope: 'full' })
      : this.service.create(this.meal, { scope: 'full' }));

    this.$emit('submit', meal);

    this.loading = false;
    this.close();
  }
}

</script>
