<template>
  <span>
    <v-dialog v-model="isActive" max-width="290">
      <v-card>
        <v-card-title class="headline">Confirm delete</v-card-title>
        <v-card-text>Are you sure you want to delete this item?</v-card-text>
        <v-card-actions>
          <v-btn color="blue darken-1" text @click="cancel">Cancel</v-btn>
          <v-btn color="red darken-1" text @click="confirm">Confirm</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-btn class="pa-0" :dark="dark" :icon="icon" :text="text" :color="color" @click="openModal">
      <slot/>
    </v-btn>
  </span>
</template>

<script lang="ts">

import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class ConfirmButton extends Vue {
  private isActive = false;

  @Prop() private object: Record<string, unknown> | undefined;

  @Prop() private color: string | undefined;

  @Prop() private icon: boolean | undefined;

  @Prop() private text: boolean | undefined;

  @Prop() private dark: boolean | undefined;

  openModal(): void {
    this.isActive = true;
  }

  cancel(): void {
    this.isActive = false;
  }

  confirm(): void {
    this.$emit('confirm', this.object);
    this.isActive = false;
  }
}
</script>
