<template>
  <div>
    <v-app-bar app color="deep-purple accent-4" dense dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>{{ title }}</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon @click="logout">
        <v-icon>mdi-logout-variant</v-icon>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer mobile-breakpoint="1026" app class="deep-purple accent-4"
                         dark v-model="drawer">
      <v-list dense nav>
        <v-list-item v-for="item in items" :key="item.title" :to="item.path" link>
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item @click="logout">
          <v-list-item-icon>
            <v-icon>mdi-logout-variant</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import { getModule } from 'vuex-module-decorators';
import store from '@/store';
import Auth from '@/store/modules/auth.module';

@Component
export default class FMenu extends Vue {
  @Prop() private title!: string;

  private drawer: boolean;

  private auth = getModule(Auth, store);

  // TODO use routes
  private items = [
    {
      title: 'Home',
      icon: 'mdi-view-dashboard',
      path: '/',
    },
    {
      title: 'Dishes',
      icon: 'mdi-food',
      path: '/dishes',
    },
    {
      title: 'Ingredients',
      icon: 'mdi-food-drumstick',
      path: '/ingredients',
    },
    {
      title: 'Account',
      icon: 'mdi-account',
      path: '/account',
    },
  ];

  constructor() {
    super();
    this.drawer = true;
  }

  private logout(): void {
    this.auth.logout();
    this.$router.push('login');
  }
}

</script>
