<f-navbar>
  <h2>Ingredients</h2>
  <mat-table [dataSource]="ingredients" class="mat-elevation-z8">
    <!--Name-->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let ingredient"> {{ingredient.name}} </mat-cell>
    </ng-container>
    <!--Unit-->
    <ng-container matColumnDef="unit">
      <mat-header-cell *matHeaderCellDef>Unit</mat-header-cell>
      <mat-cell *matCellDef="let ingredient"> {{ingredient.unit}} </mat-cell>
    </ng-container>
    <!--IsCountable-->
    <ng-container matColumnDef="isCountable" class="test">
      <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
      <!--TODO add price to Salt-->
      <mat-cell *matCellDef="let ingredient"> {{ingredient.isCountable ? 'countable' : 'uncountable'}} </mat-cell>
    </ng-container>
    <!--Price-->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
      <mat-cell *matCellDef="let ingredient"> {{ingredient.price}} </mat-cell>
    </ng-container>
    <!--Quantity-->
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
      <mat-cell *matCellDef="let ingredient"> {{ingredient.quantity}} </mat-cell>
    </ng-container>
    <!--Actions-->
    <ng-container matColumnDef="actions">

      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="openFormDialog()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="openFormDialog(i)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="openDeleteDialog(i)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
  </mat-table>
</f-navbar>
