<template>
  <div>
    <v-dialog v-model="isActive" persistent max-width="500">
      <v-card>
        <v-form @submit.prevent="save">
          <v-card-title>{{ title }}</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" md="8" sm="8">
                  <v-text-field v-model="ingredient.name" label="name"/>
                </v-col>
                <v-col cols="12" md="4" sm="4">
                  <v-switch v-model="ingredient.isCountable" label="is countable"/>
                </v-col>
                <v-col cols="12" md="4" sm="6">
                  <v-select v-model="ingredient.unit" :items="units" label="unit"/>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field v-model="ingredient.price" label="price"/>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field v-model="ingredient.quantity" label="quantity"/>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn depressed color="error" @click="close">Cancel</v-btn>
            <v-btn depressed type="submit" color="primary dark" :loading="loading">Save</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
    <v-btn color="deep-purple" dark bottom right fixed fab @click="open">
      <v-icon>mdi-plus</v-icon>
    </v-btn>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Ingredient from '@/domain/ingredient/Ingredient';
import IngredientService from '@/domain/ingredient/IngredientService';
import Unit from '@/helpers/Unit';
import Modal from '@/store/modules/modal.module';
import { getModule } from 'vuex-module-decorators';
import store from '@/store';

@Component
export default class IngredientForm extends Vue {
  private loading: boolean;

  private units: string[];

  private modal = getModule(Modal, store);

  constructor() {
    super();
    this.loading = false;
    this.units = Object.keys(Unit);
  }

  close(): void {
    this.modal.closeModal();
  }

  open(): void {
    this.modal.openModal(new Ingredient({
      price: null,
      quantity: null,
      isCountable: true,
      unit: 'g',
    }));
  }

  async save(): Promise<void> {
    this.loading = true;
    const ingredient = await (this.ingredient.id
      ? new IngredientService().update(this.ingredient.id, this.ingredient)
      : new IngredientService().create(this.ingredient));
    this.$emit('submit', ingredient);
    this.loading = false;
    this.close();
  }

  get title(): string {
    return `${this.ingredient.id ? 'Edit' : 'Create'} Ingredient`;
  }

  get isActive(): boolean {
    return this.modal.isVisible;
  }

  get ingredient(): Ingredient {
    return this.modal.ingredient;
  }
}

</script>
