<template>
  <div>
    <v-data-table
        :headers="headers"
        :items="ingredients"
        :items-per-page="10"
        class="elevation-1"
    >
      <template v-slot:item.actions="{ item }">
        <v-btn icon @click="editIngredient(item)">
          <v-icon small>mdi-pencil</v-icon>
        </v-btn>
        <confirm-button icon @confirm="confirmDelete" :object="item">
          <v-icon small>mdi-delete</v-icon>
        </confirm-button>
      </template>
    </v-data-table>

    <!--    TODO check virtual scroll to optimize the list-->

    <ingredient-form @submit="saveIngredient"/>

  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ConfirmButton from '@/components/shared/ConfirmModal.vue';
import IngredientForm from '@/components/ingredient/IngredientForm.vue';
import Ingredient from '@/domain/ingredient/Ingredient';
import IngredientService from '@/domain/ingredient/IngredientService';
import { getModule } from 'vuex-module-decorators';
import Modal from '@/store/modules/modal.module';
import store from '@/store';

@Component({
  components: {
    IngredientForm,
    ConfirmButton,
  },
})
export default class IngredientsPage extends Vue {
  private ingredients: Ingredient[] = [];

  private headers = [
    {
      text: 'name',
      align: 'start',
      value: 'name',
    },
    {
      text: 'price',
      value: 'price',
    },
    {
      text: 'unit',
      value: 'unit',
    },
    {
      text: 'quantity',
      value: 'quantity',
    },
    {
      text: 'countable?',
      value: 'isCountable',
    },
    {
      text: 'actions',
      value: 'actions',
      sortable: false,
    },
  ];

  private service = new IngredientService();

  private dialogDelete = false;

  private modal = getModule(Modal, store);

  // noinspection JSUnusedLocalSymbols
  private async mounted() {
    this.ingredients = await this.service.index();
  }

  private editIngredient(ingredient: Ingredient) {
    const copy = Object.assign(new Ingredient(), ingredient);
    this.modal.openModal(copy);
  }

  private saveIngredient(newIngredient: Ingredient) {
    const index = this.ingredients.findIndex((ingredient) => ingredient.id === newIngredient.id);
    if (index === -1) {
      this.ingredients.push(newIngredient);
    } else {
      this.ingredients.splice(index, 1, newIngredient);
    }
  }

  private async confirmDelete(ingredient: Ingredient) {
    await this.service.delete(ingredient.id);
    const index = this.ingredients.indexOf(ingredient);
    this.ingredients.splice(index, 1);
  }
}
</script>
