 <mat-toolbar color="primary">
    <span>Waser Food</span>
  </mat-toolbar>

  <mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <mat-list-item>
          <button mat-icon-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon">restaurant</mat-icon>
            Meals
          </button>
        </mat-list-item>

        <mat-list-item> Ingredients</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content>
  </mat-sidenav-container>

  <!--  <mat-sidenav-container style="height: 100%">-->
  <!--    <mat-sidenav mode="side" opened class="sidenav">-->
  <!--      <mat-nav-list>-->
  <!--        <mat-list-item>-->
  <!--          <button mat-icon-button (click)="goToMealsPage()">-->
  <!--            <mat-icon aria-hidden="false" aria-label="Example home icon">restaurant</mat-icon>-->
  <!--            Meals-->
  <!--          </button>-->
  <!--        </mat-list-item>-->

  <!--        <mat-list-item>-->
  <!--          <button mat-icon-button (click)="goToIngredientsPage()">-->
  <!--            <mat-icon aria-hidden="false" aria-label="Example home icon">set_meal</mat-icon>-->
  <!--            Ingredients-->
  <!--          </button>-->
  <!--        </mat-list-item>-->
  <!--      </mat-nav-list>-->

  <!--    </mat-sidenav>-->

  <!--    <mat-sidenav-content>-->
  <!--      <ng-content></ng-content>-->
  <!--    </mat-sidenav-content>-->
  <!--  </mat-sidenav-container>-->
  <!--</div>-->

