<mat-toolbar color="primary" (click)="goToHome()">
  <span>{{ title }}</span>
</mat-toolbar>

<mat-sidenav-container class="main">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <f-sidebar-item icon="restaurant" title="Meals" path="meals"></f-sidebar-item>
      <f-sidebar-item icon="set_meal" title="Ingredients" path="ingredients"></f-sidebar-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

