<template>
  <v-app>
    <f-menu :title="title"/>

    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import FMenu from './components/shared/FMenu.vue';

@Component({
  components: {
    FMenu,
  },
})
export default class App extends Vue {
  private name: string;

  private title: string;

  constructor() {
    super();
    this.name = 'App';
    this.title = 'Waser Food';
  }
}
</script>
