<div>
  <h2 mat-dialog-title>{{getTitle()}}</h2>

  <!--  check how to use submit -->
  <mat-dialog-content [formGroup]="mealForm">

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
      <!--      TODO use mat-error-->
      <small *ngIf="mealForm.get('name')?.errors?.required" class="text-danger">
        name is required!
      </small>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select category" formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ingredients</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Ingredients"
             matInput
             [formControl]="selectAvailableIngredients"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName" (optionSelected)="addIngredient()">
        <mat-option *ngFor="let ingredient of filteredIngredients | async" [value]="ingredient">
          {{ingredient.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-list>
      <mat-list-item *ngFor="let ingredient of addedIngredients">
        <span style="margin-right: 10px">{{ingredient.name}}</span>

        <input matInput type="number" placeholder="quantity">

        <button mat-icon-button color="accent" (click)="removeIngredient(ingredient.id)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button (click)="close()">Close</button>
    <button mat-raised-button [disabled]="mealForm.invalid" color="primary" (click)="submit()">Save</button>
  </mat-dialog-actions>
</div>
