<div>
  <h2 mat-dialog-title class="f-1">{{getTitle()}}</h2>

  <!--  check how to use submit -->
  <mat-dialog-content [formGroup]="mealForm">

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
      <small *ngIf="mealForm.get('name')?.errors?.required" class="text-danger">
        name is required!
      </small>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select category" formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <!--    TODO check mat-buttons-->
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button [disabled]="mealForm.invalid" class="mat-raised-button mat-primary" (click)="submit()">Save</button>
  </mat-dialog-actions>
</div>
