
.mat-form-field {
  display: block;
}

.text-danger {
  color: #a72828;
}

.ingredients-grid {
  display: flex;
  width: 100%;
  align-items: baseline;
}

.item-name {
  width: 55%;
}

.item-block {
  display: flex;
  align-items: baseline;
}

.item-quantity {
  max-width: 100px;
}

.item-unit {
  margin-left: 1em;
}

.item-button {
  margin-left: auto;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.2em 0 0.4em 0 !important;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75);
  width: 133.33333%;
}
