<template>
  <v-card class="mx-auto my-12" max-width="374">
    <v-img height="250" src="@/assets/avatar.png"/>
    <div v-if="!editMode">
      <v-card-title>{{ loggedUser.name }}</v-card-title>
      <v-card-text>{{ loggedUser.email }}</v-card-text>
    </div>
    <v-card-text v-else>
      <v-text-field label="name" outlined v-model="user.name"/>
      <v-text-field label="email" outlined v-model="user.email"/>
    </v-card-text>
    <v-divider/>
    <v-card-actions v-if="!editMode">
      <confirm-button class="px-2" text @confirm="removeAccount" color="error dark">
        REMOVE ACCOUNT
      </confirm-button>
      <v-spacer/>
      <v-btn color="deep-purple lighten-2" text @click="editAccount">
        EDIT ACCOUNT
      </v-btn>
    </v-card-actions>
    <v-card-actions v-else>
      <v-btn color="error dark" text @click="editMode = false">
        CANCEL
      </v-btn>
      <v-spacer/>
      <v-btn color="deep-purple lighten-2" text @click="save">
        SAVE
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">

import { Component, Vue, Watch } from 'vue-property-decorator';
import User from '@/domain/user/User';
import Auth from '@/store/modules/auth.module';
import { getModule } from 'vuex-module-decorators';
import store from '@/store';
import UserService from '@/domain/user/UserService';
import ConfirmButton from '@/components/shared/ConfirmModal.vue';

@Component({
  components: {
    ConfirmButton,
  },
})
export default class AccountPage extends Vue {
  private user: User;

  private editMode = false;

  private authModule = getModule(Auth, store);

  private service = new UserService();

  constructor() {
    super();
    this.user = this.loggedUser;
  }

  @Watch('loggedUser')
  triggerUser(): void {
    this.user = this.loggedUser;
  }

  get loggedUser(): User {
    return this.authModule.user;
  }

  async save(): Promise<void> {
    const newUser = await this.service.update(this.user.id, this.user);
    this.authModule.setUser(newUser);
    this.editMode = false;
  }

  editAccount(): void {
    this.editMode = true;
  }

  async removeAccount(): Promise<void> {
    await this.service.delete(this.user.id);
    this.authModule.logout();
    await this.$router.push('/login');
  }
}
</script>
