<template>
  <v-dialog v-model="dialog" width="400" persistent>
    <v-card>
      <v-tabs background-color="deep-purple accent-4" fixed-tabs dark>
        <v-tab>Sign in</v-tab>
        <v-tab-item>
          <login/>
        </v-tab-item>
        <v-tab>Sign up</v-tab>
        <v-tab-item>
          <register/>
        </v-tab-item>
      </v-tabs>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">

import { Component, Vue } from 'vue-property-decorator';
import Login from '@/components/auth/Login.vue';
import Register from '@/components/auth/Register.vue';

@Component({
  components: {
    Login,
    Register,
  },
})
export default class AuthPage extends Vue {
  private dialog = true;
}
</script>
