<template>
  <div>
    <v-card>
      <v-form @submit.prevent ="signIn">
        <v-snackbar :timeout="3000" v-model="snackbar" right shaped top>
          {{ message }}
        </v-snackbar>
        <v-card-title>
          <span class="headline">Sign in</span>
        </v-card-title>
        <v-card-text>
          <v-text-field v-model="credentials.email" type="email" label="email" required/>
          <v-text-field v-model="credentials.password" type="password" label="password" required/>
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn type="submit" color="primary">Sign in</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </div>
</template>

<script lang="ts">

import { Component, Vue } from 'vue-property-decorator';
import User from '@/domain/user/User';
import http from '@/http/custom-http';
import Auth from '@/store/modules/auth.module';
import { getModule } from 'vuex-module-decorators';
import store from '@/store';

const authModule = getModule(Auth, store);

@Component
export default class Login extends Vue {
  private readonly credentials = {
    email: '',
    password: '',
  };

  private snackbar = false;

  private message = '';

  async signIn(): Promise<void> {
    try {
      const res = await http.post('/login', this.credentials);
      const user = new User(res.data);
      authModule.login(user);
      await this.$router.push('meals');
    } catch (err) {
      console.log(err);
      this.snackbar = true;
      this.message = err.response.data;
    }
  }
}
</script>
