<template>
  <v-card>
    <v-snackbar :timeout="3000" v-model="snackbar" right shaped top>
      {{ message }}
    </v-snackbar>
    <v-card-title>
      <span class="headline">Sign up</span>
    </v-card-title>
    <v-card-text>
      <v-text-field label="name" required v-model="user.name"/>
      <v-text-field type="email" label="email" v-model="user.email" required/>
      <v-text-field type="password" label="password" v-model="user.password" required/>
      <v-text-field type="password" label="repeat password"/>
    </v-card-text>
    <v-card-actions>
      <v-spacer/>
      <v-btn color="primary" @click="signUp">Sign up</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">

import { Component, Vue } from 'vue-property-decorator';
import http from '@/http/custom-http';
import User from '@/domain/user/User';
import Auth from '@/store/modules/auth.module';
import { getModule } from 'vuex-module-decorators';
import store from '@/store';

const authModule = getModule(Auth, store);

@Component
export default class Login extends Vue {
  private user = new User();

  private snackbar = false;

  private message = '';

  async signUp(): Promise<void> {
    try {
      const res = await http.post('/register', this.user);
      const user = new User(res.data);
      authModule.login(user);
      // TODO make the snackbar persist even after the page is changed
      this.message = 'login successful';
      await this.$router.push('meals');
    } catch (err) {
      console.log(err);
      this.message = err.response.data;
    }
    this.snackbar = true;
  }
}
</script>
